__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env*
.python-version
*.egg-info/
.eggs/
dist/
build/
*.sqlite3
.DS_Store
.ipynb_checkpoints/
.pycharm_project
.idea/
.vscode/
.venv/
venv/
ENV/
env/
node_modules/
*.log
